/****** DEBUG ******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: currentColor;
}

img{
    max-width: 100%;
}

ul,
li
a{
    list-style-type: none;
    text-decoration: none;
} 

body{
    font-family: ’Noto Sans JP’, sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.button{
    border-radius: 20px;
}


/****** HEADER ******/


.main-header{
    background-color: rgba(0,132,253,255);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nav-item{
    display: flex;
}

.nav-item .nav-link{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    line-height: 76px;
}

.nav-item .button-white{
    color: black;
    line-height: 0px;
    padding: 18px 8px;
    background-color: white;
    margin: 20px 0;

}

.menu-ham{
    color: white;
    display: none;
}

@media only screen and (max-width :1168){

    .nav-bar .logo-header, .nav-item{
        padding: 0 30px;
    }

}

@media only screen and (max-width: 809px){    

    .nav-bar .menu-ham{
        line-height: 76px;
        padding: 0 30px;
    }

    .logo-header{
        padding: 0 30px;
    }
    
    .menu-ham{
        display: block;
    }
    .nav-item{
        display: none;
    }

}


/****** HERO ******/

.hero{
    display: flex;
    gap: 20px;
}

.card-hero{
    border-radius: 20px;
    background-color: rgba(181,221,255,255);
}

.hero60{
    flex-basis: calc(100% / 3 * 2 - 10px) ;
    display: flex;
    justify-content: space-between;
}

.text-card-hero{
    flex-basis: 60%;
}

.text-card-hero .title-card-hero, .paragraph-card-hero{
  padding-top: 40px;
  padding-left: 20px;
}

.title-card-hero{
    color: rgba(0,132,253,255);
}

.paragraph-card-hero{
    line-height: 30px;
    color: rgba(105,129,148,255);
}


.image-phone-hero{
    flex-basis: calc(100% / 3 - 10px);
    padding-top: 50px;
    margin-right: 40px;

}

.blue-button{
    display: inline-block;
    background-color: rgba(0,132,253,255);
    color: white;
    padding: 7px 40px;
    margin: 36px 20px;
}

.blue-button > a{
    text-decoration: none;
}

.hero30{
    flex-basis: 30%;
}